nav.master {
	background-color: #fff;
	color: #002B7E;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1rem 4rem;
	position: -webkit-sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #e3f2fd;
	font-size: 1.3rem;
	z-index: 100;
}

.master a {

	font-weight: 600;
	color: #002B7E;
}

.master ul {
	list-style-type: none;
	gap: 1rem;
	margin: 0;
}

.main {
	font-size: 15px;
	text-align: justify;
	padding: 1%;
	min-height: calc(100vh - 75px - 170px);
}

.footer {
	font-size: 1.5rem;
	background-image: url("../images/footer.jpg");
	color: #ffffff;
	width: 100%;
	padding: 1rem;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 170px;
}

.footer-container img {
	width: 80%;
}

.footer-copyright {
	font-size: 1rem;
	margin: 0;
}

.master img {

	width: 2rem;
}

.container {
	padding: 2rem;
	margin-top: 3.07rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

